.main {
  .adventure {
    margin-top: 600px;
    height: 200vh;
    @include screen("laptops") {
      margin-top: 110px;
      height: 100vh;
    }
    @include screen("desktop") {
      margin-top: 110px;
      height: 100vh;
    }
    background: #1e5d69;
    opacity: 0.8;
    clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
    @include screen("laptops") {
      background-repeat: no-repeat;
      background-size: auto;
      background-attachment: fixed;
      background-position: center;
      background: url("../../../assets/images/img-bg-adventure.jpg");
    }
    @include screen("desktop") {
      background-repeat: no-repeat;
      background-size: auto;
      background-attachment: fixed;
      background-position: center;
      background: url("../../../assets/images/img-bg-adventure.jpg");
    }
    background-position: center;
    display: flex;
    position: relative;
    &__container {
      width: 1200px;
      margin: 200px auto;
      @include screen("laptops") {
        margin: 100px auto;
      }
      @include screen("desktop") {
        margin: 0 auto;
      }
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      .headline {
        position: absolute;
        top: 200px;
        left: 0;
        @include screen("laptops") {
          top: 40px;
        }
        @include screen("desktop") {
          top: 40px;
        }
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin-bottom: 80px;
        color: #fff;
        z-index: 2;
        h2 {
          padding-top: 40px;
        }
      }
      .card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-row-gap: 50px;
        width: 100%;
        &__item {
          width: 240px;
          height: 300px;
          background-color: $white;
          position: relative;
          z-index: 1;
          margin: 0 auto;
          &__headline {
            text-align: center;
            h3 {
              font-size: 20px;
              color: $theme-color-1;
              margin-bottom: 2px;
              text-align: center;
            }
            p {
              font-size: 13px;
              padding: 25px;
              line-height: 1.25;
            }
            img {
              margin: 30px auto 26px;
            }
          }
        }
      }
    }
  }
  .adventure-bcg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(4, 155, 186), rgb(181, 193, 196));
    width: 100%;
    height: 200vh;
    opacity: 0.7;
    z-index: 1;
    @include screen("laptops") {
      height: 100vh;
    }
    @include screen("desktop") {
      height: 100vh;
    }
  }
}
