.main {
  .adventure {
    margin-top: 600px;
    background: #1e5d69;
    opacity: 0.8;
    clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
    background-position: center;
    @include screen("tabletPlus") {
      background: url("../../../assets/images/img-bg-adventure.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
    }
    @include screen("tablet") {
      height: 120vh;
    }
    @include screen("laptops") {
      height: 100vh;
    }
    @include screen("desktop") {
      height: 90vh;
    }
    &__container {
      margin: 0 auto;
      height: 100%;
      display: grid;
      grid-template-columns: 100%;
      padding-bottom: 200px;
      max-width: 80%;
      @include screen("tabletPlus") {
        max-width: 1200px;
        padding-bottom: 80px;
      }
      @include screen("tablet") {
        width: 90%;
        margin: 0 auto;
      }
      @include screen("desktop") {
        margin: 0 auto;
      }
      .headline {
        width: 100%;
        text-align: center;
        font-size: 30px;
        padding-top: 180px;
        margin-bottom: 80px;
        color: #fff;
        z-index: 2;
        @include screen("tabletPlus") {
          padding-top: 100px;
        }
        h2 {
          padding-top: 40px;
        }
      }
      .card {
        display: grid;
        grid-row-gap: 50px;
        grid-column-gap: 80px;
        grid-auto-columns: 242px;
        width: 100%;
        @include screen("tabletPlus") {
          justify-content: space-between;
          margin: 0;
          top: 10px;
        }
        @media only screen and (min-width: 600px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include screen("tablet") {
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 30px;
        }
        @include screen("laptops") {
          grid-template-columns: repeat(3, 1fr);
        }
        @include screen("desktop") {
          grid-template-columns: repeat(4, 1fr);
        }
        &__item {
          width: 240px;
          height: 300px;
          background-color: $white;
          position: relative;
          z-index: 1;
          margin: 0 auto;
          @include screen("tabletPlus") {
            margin: 0;
          }
          &__headline {
            text-align: center;
            h3 {
              font-size: 2rem;
              color: $theme-color-1;
              margin-bottom: 2px;
              text-align: center;
            }
            p {
              font-size: 1.3rem;
              padding: 25px;
              line-height: 1.3;
            }
            img {
              margin: 30px auto 26px;
            }
          }
        }
      }
    }
  }
  .adventure-bcg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(4, 155, 186), rgb(181, 193, 196));
    width: 100%;
    opacity: 0.7;
    height: 500vh;
    @include screen("tabletPlus") {
      height: 300vh;
    }
    z-index: 1;
  }
}
