.footer {
  width: 100%;
  &__container {
    &__top {
      background-color: $theme-color-2;
      height: 220px;
      @include flex(column, center, center);
      .nav-bottom {
        padding-top: 50px;
        &__menu {
          @include flex(row, center, center);
          .item {
            font-size: 1.4rem;
            width: 10rem;
            a {
              color: $white;
              text-transform: capitalize;
              text-decoration: none;
              transition: 0.5s ease-in-out;
              &:hover {
                color: $theme-color-1;
                cursor: pointer;
              }
            }
          }
        }
      }
      .icons {
        padding-top: 50px;
        @include flex(row, center, center);
        &__item {
          @include lineHeight(32px);
          width: 32px;
          border-radius: 32px;
          background: $theme-color-4;
          text-align: center;
          transition: 0.5s ease-in-out;
          img {
            @include box(24px, 24px);
            padding-top: 8px;
          }
          :nth-child(2) {
            margin: 0 10px;
          }
          &:hover {
            background: $theme-color-1;
            cursor: pointer;
          }
        }
      }
      .center {
        margin: 0 20px;
      }
    }
    &__bottom {
      background-color: $theme-color-3;
      height: 60px;
      .conteiner {
        margin: 0 auto;
        width: 95%;
        @include screen("tabletPlus") {
          max-width: 1200px;
        }
        .items {
          @include flex(row, center, space-between);
          height: 60px;
          width: 100%;
          &__logo {
            @include flex(row, center, center);
            a.logo {
              margin-right: 30px;
              text-decoration: none;
            }
            .logo__text {
              color: $white;
              font-size: 1.6rem;
              letter-spacing: 3px;
              text-transform: uppercase;
            }
          }
          &__copyright {
            @include flex(row, center, center);
            color: $white;
          }
        }
      }
    }
  }
}
