.header {
  background-color: $theme-color-1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  padding: 0 10px;
  &__container {
    margin: 0 auto;
    display: grid;
    max-width: 600px;
    @include screen("tabletPlus") {
      max-width: 1200px;
    }
    @include screen("tablet") {
      grid-template-columns: 30% 55% 15%;
    }
    @include screen("laptops") {
      grid-template-columns: 20% 70% 10%;
    }
    @include screen("desktop") {
      grid-template-columns: 20% 70% 10%;
    }
    &__logo {
      @include flex(column, center, center);
      height: 45px;
      @include screen("tablet") {
        @include lineHeight(82px);
      }
      @include screen("laptops") {
        @include lineHeight(82px);
      }
      @include screen("desktop") {
        @include lineHeight(82px);
      }
      .logo {
        width: 100%;
        display: flex;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 3px;
        @include screen("tablet") {
          @include lineHeight(82px);
        }
        @include screen("laptops") {
          @include lineHeight(82px);
        }
        @include screen("desktop") {
          @include lineHeight(82px);
        }
        &__text {
          @include lineHeight(45px);
          @include screen("tablet") {
            @include lineHeight(82px);
          }
          @include screen("laptops") {
            @include lineHeight(82px);
          }
          @include screen("desktop") {
            @include lineHeight(82px);
          }
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          margin-left: 10px;
        }
      }
    }
    &__search {
      display: flex;
      @include lineHeight(45px);
      @include screen("laptops") {
        height: 82px;
        width: 100%;
      }
      @include screen("desktop") {
        height: 82px;
        width: 100%;
      }
      width: 100%;
      .icon {
        display: flex;
        margin-right: 6px;
        @include lineHeight(45px);
        @include screen("tabletPlus") {
          @include lineHeight(82px);
          margin: 0 6px 0 36px;
          float: left;
        }
      }
      .search-text {
        font-size: 1.4rem;
        color: $white;
        text-transform: capitalize;
        background-color: $theme-color-1;
        border: none;
        &::placeholder {
          color: $white;
          font-family: inherit;
        }
        &:focus {
          outline: none;
        }
        @include screen("tablet") {
          margin-top: 30px;
        }
      }
    }
  }
}
