.header {
  &__container {
    margin: 0 auto;
    display: grid;
    &__navigation {
      width: 100vw;
      height: 180px;
      @include screen("tabletPlus") {
        height: 82px;
        width: 100%;
      }
      @include screen("desktop") {
        height: 82px;
        width: 100%;
      }
      .nav {
        &__menu {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-items: flex-start;
          @include screen("tablet") {
            @include lineHeight(82px);
            height: 82px;
          }
          @include screen("laptops") {
            @include lineHeight(82px);
            height: 82px;
            justify-items: center;
            margin-left: 150px;
            flex-direction: row;
          }
          @include screen("desktop") {
            @include lineHeight(82px);
            height: 82px;
            justify-items: center;
            margin-left: 200px;
            flex-direction: row;
          }

          .item {
            @include lineHeight(45px);
            @include screen("laptops") {
              @include lineHeight(82px);
              height: 82px;
              margin: 0;
            }
            @include screen("desktop") {
              @include lineHeight(82px);
              margin: 0;
            }
            list-style: none;
            color: $white;
            min-width: 130px;
            font-size: 1.4rem;
            text-transform: capitalize;
            cursor: pointer;
            a {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
