/**************************************************/
/**************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 50%;
  letter-spacing: 0.05rem; }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 62.5%; } }

div.page {
  position: relative; }

/**************************************************/
/**************************************************/
.header {
  background-color: #1e5d69;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  padding: 0 10px; }
  .header__container {
    margin: 0 auto;
    display: grid;
    max-width: 600px; }
    @media only screen and (min-width: 768px) {
      .header__container {
        max-width: 1200px; } }
    @media only screen and (min-width: 768px) and (max-width: 900px) {
      .header__container {
        grid-template-columns: 105px 540px 105px; } }
    @media only screen and (min-width: 901px) and (max-width: 1198px) {
      .header__container {
        grid-template-columns: 20% 70% 10%; } }
    @media only screen and (min-width: 1199px) {
      .header__container {
        grid-template-columns: 20% 70% 10%; } }
    .header__container__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 45px; }
      @media only screen and (min-width: 768px) and (max-width: 900px) {
        .header__container__logo {
          height: 82px;
          line-height: 82px; } }
      @media only screen and (min-width: 901px) and (max-width: 1198px) {
        .header__container__logo {
          height: 82px;
          line-height: 82px; } }
      @media only screen and (min-width: 1199px) {
        .header__container__logo {
          height: 82px;
          line-height: 82px; } }
      .header__container__logo .logo {
        width: 100%;
        display: flex;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: 3px; }
        @media only screen and (min-width: 768px) and (max-width: 900px) {
          .header__container__logo .logo {
            height: 82px;
            line-height: 82px; } }
        @media only screen and (min-width: 901px) and (max-width: 1198px) {
          .header__container__logo .logo {
            height: 82px;
            line-height: 82px; } }
        @media only screen and (min-width: 1199px) {
          .header__container__logo .logo {
            height: 82px;
            line-height: 82px; } }
        .header__container__logo .logo__text {
          height: 45px;
          line-height: 45px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          margin-left: 10px; }
          @media only screen and (min-width: 768px) and (max-width: 900px) {
            .header__container__logo .logo__text {
              height: 82px;
              line-height: 82px; } }
          @media only screen and (min-width: 901px) and (max-width: 1198px) {
            .header__container__logo .logo__text {
              height: 82px;
              line-height: 82px; } }
          @media only screen and (min-width: 1199px) {
            .header__container__logo .logo__text {
              height: 82px;
              line-height: 82px; } }
    .header__container__search {
      display: flex;
      height: 45px;
      line-height: 45px;
      width: 100%; }
      @media only screen and (min-width: 901px) and (max-width: 1198px) {
        .header__container__search {
          height: 82px;
          width: 100%; } }
      @media only screen and (min-width: 1199px) {
        .header__container__search {
          height: 82px;
          width: 100%; } }
      .header__container__search .icon {
        display: flex;
        margin-right: 6px;
        height: 45px;
        line-height: 45px; }
        @media only screen and (min-width: 768px) {
          .header__container__search .icon {
            height: 82px;
            line-height: 82px;
            margin: 0 6px 0 36px;
            float: left; } }
      .header__container__search .search-text {
        font-size: 1.4rem;
        color: #fff;
        text-transform: capitalize;
        background-color: #1e5d69;
        border: none; }
        .header__container__search .search-text::placeholder {
          color: #fff;
          font-family: inherit; }
        .header__container__search .search-text:focus {
          outline: none; }
        @media only screen and (min-width: 768px) and (max-width: 900px) {
          .header__container__search .search-text {
            margin-top: 30px; } }

.header__container {
  margin: 0 auto;
  display: grid; }
  .header__container__navigation {
    width: 100vw;
    height: 180px; }
    @media only screen and (min-width: 768px) {
      .header__container__navigation {
        height: 82px;
        width: 100%; } }
    @media only screen and (min-width: 1199px) {
      .header__container__navigation {
        height: 82px;
        width: 100%; } }
    .header__container__navigation .nav__menu {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-items: flex-start; }
      @media only screen and (min-width: 768px) and (max-width: 900px) {
        .header__container__navigation .nav__menu {
          margin-left: 20px; } }
      @media only screen and (min-width: 901px) and (max-width: 1198px) {
        .header__container__navigation .nav__menu {
          margin-left: 100px; } }
      @media only screen and (min-width: 1199px) {
        .header__container__navigation .nav__menu {
          margin-left: 150px; } }
      @media only screen and (min-width: 768px) and (max-width: 900px) {
        .header__container__navigation .nav__menu {
          margin-left: 50px; } }
      @media only screen and (min-width: 768px) {
        .header__container__navigation .nav__menu {
          height: 82px;
          line-height: 82px;
          height: 82px;
          justify-items: center;
          flex-direction: row; } }
      .header__container__navigation .nav__menu .item {
        height: 45px;
        line-height: 45px;
        list-style: none;
        color: #fff;
        min-width: 130px;
        font-size: 1.4rem;
        text-transform: capitalize;
        cursor: pointer; }
        @media only screen and (min-width: 768px) and (max-width: 900px) {
          .header__container__navigation .nav__menu .item {
            margin-left: 50px;
            max-width: 130px; } }
        @media only screen and (min-width: 768px) {
          .header__container__navigation .nav__menu .item {
            height: 82px;
            line-height: 82px;
            height: 82px;
            margin: 0; } }
        .header__container__navigation .nav__menu .item a {
          color: #fff;
          text-decoration: none; }

.footer {
  width: 100%; }
  .footer__container__top {
    background-color: #2d4e54;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .footer__container__top .nav-bottom {
      padding-top: 50px; }
      .footer__container__top .nav-bottom__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .footer__container__top .nav-bottom__menu .item {
          font-size: 1.4rem;
          width: 10rem; }
          .footer__container__top .nav-bottom__menu .item a {
            color: #fff;
            text-transform: capitalize;
            text-decoration: none;
            transition: 0.5s ease-in-out; }
            .footer__container__top .nav-bottom__menu .item a:hover {
              color: #1e5d69;
              cursor: pointer; }
    .footer__container__top .icons {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      .footer__container__top .icons__item {
        height: 32px;
        line-height: 32px;
        width: 32px;
        border-radius: 32px;
        background: #0093af;
        text-align: center;
        transition: 0.5s ease-in-out; }
        .footer__container__top .icons__item img {
          width: 24px;
          height: 24px;
          padding-top: 8px; }
        .footer__container__top .icons__item :nth-child(2) {
          margin: 0 10px; }
        .footer__container__top .icons__item:hover {
          background: #1e5d69;
          cursor: pointer; }
    .footer__container__top .center {
      margin: 0 20px; }
  .footer__container__bottom {
    background-color: #1b373c;
    height: 60px; }
    .footer__container__bottom .conteiner {
      margin: 0 auto;
      width: 95%; }
      @media only screen and (min-width: 768px) {
        .footer__container__bottom .conteiner {
          max-width: 1200px; } }
      .footer__container__bottom .conteiner .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 60px;
        width: 100%; }
        .footer__container__bottom .conteiner .items__logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row; }
          .footer__container__bottom .conteiner .items__logo a.logo {
            margin-right: 30px;
            text-decoration: none; }
          .footer__container__bottom .conteiner .items__logo .logo__text {
            color: #fff;
            font-size: 1.6rem;
            letter-spacing: 3px;
            text-transform: uppercase; }
        .footer__container__bottom .conteiner .items__copyright {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          color: #fff; }

.main .info {
  width: 100%;
  position: relative;
  top: 264px; }
  @media only screen and (min-width: 768px) {
    .main .info {
      top: 82px; } }
  .main .info__container {
    max-width: 1200px;
    margin: 0 auto; }
    .main .info__container__headline {
      height: 170px;
      position: relative; }
      .main .info__container__headline h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #1e5d69;
        text-transform: uppercase;
        font-size: 3rem;
        width: 100%;
        text-align: left;
        max-width: 600px; }
        @media only screen and (min-width: 768px) {
          .main .info__container__headline h2 {
            text-align: center;
            max-width: 1200px; } }
    .main .info__container__banner {
      height: 350px;
      max-width: 1200px;
      display: grid; }
      @media only screen and (min-width: 901px) and (max-width: 1198px) {
        .main .info__container__banner {
          grid-template-columns: 50% 50%; } }
      @media only screen and (min-width: 1199px) {
        .main .info__container__banner {
          grid-template-columns: 50% 50%; } }
      .main .info__container__banner .banner-text-holder {
        max-width: 600px;
        padding-right: 40px;
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column; }
        @media only screen and (min-width: 901px) and (max-width: 1198px) {
          .main .info__container__banner .banner-text-holder {
            margin: 0; } }
        @media only screen and (min-width: 1199px) {
          .main .info__container__banner .banner-text-holder {
            margin: 0; } }
        .main .info__container__banner .banner-text-holder .first-news h3 {
          font-size: 1.8rem;
          padding-bottom: 25px;
          color: #1e5d69; }
        .main .info__container__banner .banner-text-holder .first-news p {
          font-size: 1.2rem;
          padding-bottom: 25px; }
      .main .info__container__banner .banner-image-holder {
        margin: 0 auto;
        width: 95%;
        max-width: 600px; }
        @media only screen and (min-width: 901px) and (max-width: 1198px) {
          .main .info__container__banner .banner-image-holder {
            max-width: 1200px; } }
        @media only screen and (min-width: 1199px) {
          .main .info__container__banner .banner-image-holder {
            width: 600px;
            height: 350px;
            max-width: 1000px; } }
        .main .info__container__banner .banner-image-holder img {
          width: 100%; }
          @media only screen and (min-width: 768px) and (max-width: 900px) {
            .main .info__container__banner .banner-image-holder img {
              max-width: 600px; } }
          @media only screen and (min-width: 901px) and (max-width: 1198px) {
            .main .info__container__banner .banner-image-holder img {
              width: 100%; } }
          @media only screen and (min-width: 1199px) {
            .main .info__container__banner .banner-image-holder img {
              width: 600px;
              height: 350px; } }

.main .adventure {
  margin-top: 600px;
  background: #1e5d69;
  opacity: 0.8;
  clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
  background-position: center; }
  @media only screen and (min-width: 768px) {
    .main .adventure {
      background: url("../../../assets/images/img-bg-adventure.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed; } }
  @media only screen and (min-width: 768px) and (max-width: 900px) {
    .main .adventure {
      height: 120vh; } }
  @media only screen and (min-width: 901px) and (max-width: 1198px) {
    .main .adventure {
      height: 100vh; } }
  @media only screen and (min-width: 1199px) {
    .main .adventure {
      height: 90vh; } }
  .main .adventure__container {
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 200px;
    max-width: 80%; }
    @media only screen and (min-width: 768px) {
      .main .adventure__container {
        max-width: 1200px;
        padding-bottom: 80px; } }
    @media only screen and (min-width: 768px) and (max-width: 900px) {
      .main .adventure__container {
        width: 90%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1199px) {
      .main .adventure__container {
        margin: 0 auto; } }
    .main .adventure__container .headline {
      width: 100%;
      text-align: center;
      font-size: 30px;
      padding-top: 180px;
      margin-bottom: 80px;
      color: #fff;
      z-index: 2; }
      @media only screen and (min-width: 768px) {
        .main .adventure__container .headline {
          padding-top: 100px; } }
      .main .adventure__container .headline h2 {
        padding-top: 40px; }
    .main .adventure__container .card {
      display: grid;
      grid-row-gap: 50px;
      grid-column-gap: 80px;
      grid-auto-columns: 242px;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .main .adventure__container .card {
          justify-content: space-between;
          margin: 0;
          top: 10px; } }
      @media only screen and (min-width: 600px) {
        .main .adventure__container .card {
          grid-template-columns: repeat(2, 1fr); } }
      @media only screen and (min-width: 768px) and (max-width: 900px) {
        .main .adventure__container .card {
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 30px; } }
      @media only screen and (min-width: 901px) and (max-width: 1198px) {
        .main .adventure__container .card {
          grid-template-columns: repeat(3, 1fr); } }
      @media only screen and (min-width: 1199px) {
        .main .adventure__container .card {
          grid-template-columns: repeat(4, 1fr); } }
      .main .adventure__container .card__item {
        width: 240px;
        height: 300px;
        background-color: #fff;
        position: relative;
        z-index: 1;
        margin: 0 auto; }
        @media only screen and (min-width: 768px) {
          .main .adventure__container .card__item {
            margin: 0; } }
        .main .adventure__container .card__item__headline {
          text-align: center; }
          .main .adventure__container .card__item__headline h3 {
            font-size: 2rem;
            color: #1e5d69;
            margin-bottom: 2px;
            text-align: center; }
          .main .adventure__container .card__item__headline p {
            font-size: 1.3rem;
            padding: 25px;
            line-height: 1.3; }
          .main .adventure__container .card__item__headline img {
            margin: 30px auto 26px; }

.main .adventure-bcg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #049bba, #b5c1c4);
  width: 100%;
  opacity: 0.7;
  height: 500vh;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .main .adventure-bcg-overlay {
      height: 300vh; } }

.most-popular__container {
  max-width: 1200px;
  margin: 0 auto;
  color: #1e5d69; }
  .most-popular__container .headline {
    height: 85px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px; }
  .most-popular__container .card {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    row-gap: 50px;
    min-height: 400px; }
    @media only screen and (min-width: 901px) and (max-width: 1198px) {
      .most-popular__container .card {
        justify-content: space-around;
        flex-direction: row; } }
    @media only screen and (min-width: 1199px) {
      .most-popular__container .card {
        justify-content: space-around;
        flex-direction: row; } }
    .most-popular__container .card__item {
      max-width: 299px;
      margin: 0 auto;
      border: 1px solid #a7e9f7;
      border-radius: 1px;
      height: 490px;
      overflow: hidden;
      -webkit-box-shadow: 0px 10px 7px 0px #a9bac5;
      -moz-box-shadow: 0px 10px 7px 0px #a9bac5;
      box-shadow: 0px 10px 7px 0px #a9bac5; }
      .most-popular__container .card__item img {
        margin-top: -1px;
        width: 301px;
        display: block; }
      .most-popular__container .card__item .text-container {
        height: 340px;
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #fff; }
        .most-popular__container .card__item .text-container h3 {
          padding: 70px 0 10px;
          margin: auto;
          width: 100%;
          text-align: center;
          font-size: 1.8rem;
          color: #1e5d69; }
        .most-popular__container .card__item .text-container ul li {
          display: block;
          text-align: center;
          align-items: center;
          height: 40px;
          line-height: 40px;
          font-size: 1.3rem; }
    .most-popular__container .card .color .text-container {
      background-color: #1e5d69;
      color: #fff; }
      .most-popular__container .card .color .text-container h3 {
        color: #fff; }
  .most-popular__container .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    cursor: pointer; }
    .most-popular__container .btn-container .btn {
      width: 220px;
      background-image: linear-gradient(to right, #1e5d69, #0093af);
      border: none;
      font-size: inherit;
      height: 60px;
      line-height: 60px;
      color: #fff;
      border-radius: 30px;
      font-size: 14px;
      font-family: inherit;
      text-transform: uppercase;
      margin-bottom: 50px;
      transition: 0.5s ease-in-out; }
      .most-popular__container .btn-container .btn:hover {
        color: #1e5d69;
        background-image: linear-gradient(to right, #0093af, #1e5d69);
        cursor: pointer; }
      .most-popular__container .btn-container .btn:focus {
        outline: none; }

/**************************************************/
/**************************************************/
