$white: #fff;
$black: #000;

$theme-color-1: #24484f;
$theme-color-2: #10cab7;
$theme-color-3: #f6f6f6;
$theme-color-4: #10cab7;
$theme-color-5: #2c4755;
$theme-color-6: #575757;
$theme-color-7: #1e5d69;
